<div class="jumbotron jumbotron-fluid front-page-jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to OnlineREPL</h1>
    <p class="lead">OnlineREPL is an interactive platform to freely learn how to program.</p>
    <hr class="my-4">
    <p>To get started, click on one of the topics on the header to begin. To save your work, sign up first!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid description-jumbotron">
  <div class="container">
    <h1 class="display-3" style="text-align: center;">Why OnlineREPL?</h1>
    <div class="row">
      <div class="col-8">
        <p class="lead">Well, I don't know. This thing is still in development. Here's a picture of dat boi to convince you.</p>
      </div>
      <div class="col-4">
        <img src="https://68.media.tumblr.com/f449d8738724cd74dafc1a63671e1984/tumblr_o6j2dt3WUx1s3o4dso1_400.gif"></img>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" id="footer">
  <a class="navbar-brand" href="#">OnlineREPL</a>
  <span class="navbar-text">
    Copyright m8.
  </span>
</nav>

<%= stylesheet_link_tag 'home.css' %>
