<%= javascript_include_tag 'python.js' %>

<div class="login">
  <div class="container">
    <div class="form">
      <h1>Enter your code here</h1>
      <div class="container" style="width: 50vw; height: 30vh; margin-bottom: 1%">
        <textarea id="py-code" style="width: 100%; height: 100%; resize: none;" class="form-control" placeholder="Python code here"></textarea>
      </div>
      <span class="input-group-btn">
        <button id="py-submit" class="btn btn-secondary" type="button">Enter</button>
      </span>
    </div>
  </div>
</div>

<div>
  <p style="margin-bottom: 0;">Result:</p>
  <div id="py-console">
  </div>
</div>
